@import '../../_variables.scss';

#login {
    width: 500px;
    background-color: whitesmoke;

    .btn {
        padding: 1rem;
        background-color: $themeColor;
    }
}



@media only screen and (max-width: 670px) {
    #login {
        width: 100%;
    }
}