#logo {
  width: 70px;
  height: 70px;
}

.center-horizontally {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.bg-blue {
  background-color: royalblue;
}

.navbar-toggler-icon {
  color: black !important;
}

@media only screen and (max-width: 670px) {
  h1 {
    font-size: x-large;
  }
}
